.battle-message-container {
  height: $battle-message-container_height;
  min-height: $battle-message-container_min_height;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.battle-arena-container {
  height: $battle-arena-container_height;
  width: 100%;
}

.battle-info-container {
  height: $battle-info-container_height;
  min-height: $battle-info-container_min_height;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

    &__arrow {
      font-size: 1.5rem;
    }
}
