.health-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__border {
    margin-left: 7px;
    height: 12px;
    width: 100px;
    padding: 3px;
    border-width: 3px;
    border-radius: 5px;
    position: relative;
    background: var(--color_text);
  }

  &__filling {
    background: var(--color_primary);
    width: 100%;
    height: 12px;
    position: relative;
    border-radius: 3px;
    
    transition: width .5s linear;
  }

  &__label {
    width: 30px;
  }
}
