@import '../settings/_settings';

.button-container {
  height: $button_container_height;
  min-height: $button_container_min_height;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  //background-color: lightcoral; //TODOCRH: delete
}
